.nav-bar {
    list-style: none;
    padding: 0;
}
.nav-item {
    display: inline;
    padding: 10px 30px;
    background: linear-gradient(to left, #8db3f8 0%, white, #8da1f8);
    border-bottom: 1px solid grey;
    color: #506a6b;
    font-size: 20px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0, .2);
    margin-bottom: 5px;
    cursor:default;
}
.nav-bar li:last-child {border-bottom: none;}